/* Hide the default scrollbar */
.cart {
  top: 15%;
  max-height: 55rem;
  overflow-y: scroll; /* Display the scrollbar, but it will be invisible */
  left: calc(50% - 30rem);
  width: 63rem;
  background-color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cart::-webkit-scrollbar {
  display: none;
}