.HeaderButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 23rem;
  height: 5rem;
  color: white;
  background-color: #4d1601;
  border: none;
  border-radius: 15rem;
  outline: none;
  transition: all .1s;

  &__icon {
    width: 2rem;
    margin-left: 4rem;
  }

  p {
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  span {
    font-size: 1.6rem;
    margin-left: 1.5rem;
    border-radius: 100%;
    background-color: #b94517;
    padding: 0.5rem 1rem;
    font-weight: 700;
    transition: all .1s;
  }

  &:hover {
    background-color: #2c0d00;
    
    span {
        background-color: #92320c;
      }
  }
  
}
