.cardlist {
    min-height: 10rem;
    width: 90rem;
    background-color: white;
    margin: 17rem auto 5rem auto;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
}